.container {
  background-color: transparent;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.navlinks {
  display: flex;
}
.links {
  display: flex;
}
.links {
  margin-left: 3vw;
  margin-right: 3vw;
  color: #007bff;
  text-decoration: none;
}
.mylogo {
  padding-top: 2vw;
  width: 5vw;
  height: 5vw;
}
.button {
  color: #ffffff;
  padding-left: -3vw;
}
.darkmode {
  width: 2vw;
  height: 2vw;
}
