.firstcontainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.img {
  display: flex;
  align-self: center;

  padding-left: 10%;
  padding-top: 10vw;
}
.container {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  padding-left: 150px;
}
.a1 {
  text-decoration: none;
  color: #ffffff;
}
.a2 {
  text-decoration: none;
  color: #505f98;
}
.h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
}
.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
}
.buttons {
  display: flex;
  margin-top: 69px;
}
.button1 {
  width: 189px;
  text-align: center;
  padding: 10px;
  background: #111b47;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.button2 {
  background-color: transparent;
  margin-left: 30px;
  width: 189px;
  text-align: center;
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
  border: 2px solid #091133;
  box-sizing: border-box;
}
@media (max-width: 1100px) {
  .img {
    display: none;
  }
  .container {
    padding-left: 150px;
  }
}
@media (max-width: 700px) {
  .container {
    padding-left: 50px;
  }
}
@media (max-width: 480px) {
  .buttons {
    flex-direction: column;
    align-items: flex-start;
  }
  .button2 {
    margin-left: 0px;
    margin-top: 2vw;
  }
  .text {
  }
}
