.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row !important;
  padding-top: 50px;
}
.projimg {
  height: 315px;
  width: 480px;
  padding-top: 50px;
  padding-left: 13vw;
}
.text {
  padding-left: 10vw;
  width: 30vw;

  padding-top: 100px;
}
.h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
}
.p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
}
.button {
  margin-left: 2vw;
}
